<p-panel header="Стены" [toggleable]="true" class="full-width configuration-container">
  <div class="configuration-list__container">
    @for (wall of walls; track wall.title) {
      <div class="configuration-list__item">
        <div class="configuration-list__item-title" [innerText]="wall.title"></div>
        <img [src]="wall.url">
        <p-button (click)="selectWall(wall)"
                  [disabled]="currentWall.id === wall.id"
                  [label]="currentWall.id === wall.id ?'Выбрано' : 'Выбрать'"></p-button>
      </div>
    }
  </div>
</p-panel>
